* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: chartreuse;
    color: white
}

.booklist {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:768px) {
    .booklist {
        grid-template-columns: repeat(3, 1fr);
    }
}

.book {
    background: cornflowerblue;
    border-radius:  1rem;
    padding: 1rem 1rem;;
}

.book h6 {
    margin-top: 0.5rem;
}

.skater-img {
    width: 400px;
}

.img-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}